.game {
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 100px auto;
  row-gap: 10px;
}

.number {
  display: grid;
  grid-template-columns: repeat(8, 1fr) 2fr;
}

.computer .bit {
  background-color: #ff0000;
  color: #ffff00;
  cursor: default;
}

.player .bit {
  background-color: #0000ff;
  color: #ffff00;
  cursor: pointer;
}

.bits .bit {
  font-size: 0.9rem;
  font-weight: bold;
}

.bit.active span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.bit.active span::before {
  content: '';
  width: 40px;
  height: 40px;
  background: linear-gradient(315deg, #721c1c, #ff0000);
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  z-index: -1;
}

.bit {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bit.result {
  font-size: 1.2rem;
  font-weight: bold;
  width: auto;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons button {
  width: 100px;
  height: 30px;
}