.number {
  align-items: center;
}

.computer .bit {
  cursor: default;
}

.bits .bit {
  font-size: 0.9rem;
  font-weight: bold;
}

.bit.active span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--chakra-colors-yellow-300);
  z-index: 1;
}

.bit.active span::before {
  content: '';
  width: 40px;
  height: 40px;
  background: linear-gradient(315deg, var(--chakra-colors-red-700), var(--chakra-colors-red-400));
  border-radius: 50%;
  border: 1px solid var(--bs-secondary-bg);
  position: absolute;
  z-index: -1;
}

.bit {
  display: flex;
  max-width: 50px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bit.result {
  font-size: 1.2rem;
  font-weight: bold;
  width: auto;
  /* margin-left: 10px; */
  aspect-ratio: 2;
  min-height: 100%;
  max-width: none;
}

.settings {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.settings .key input {
  max-width: 45px;
  height: 60px;
  border-style: dotted;
}

